<!DOCTYPE html>
<html>
<head>
  <title>Recibos2</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
	<div id="user_nav">  
	  <% if user_signed_in? %>  
	    Registrado como <%= current_user.email %>. Não é você?  
	    <%= link_to "Logout", destroy_user_session_path, :method => 'delete' %>  
	  <% else %>  
	    <%= link_to "Login", new_user_session_path %>  
	  <% end %>  
	</div>  
	 <p class="notice"><%= notice %></p>
	 <p class="alert"><%= alert %></p>


<%= yield %>

</body>
</html>
